# Node.js
node_modules/
npm-debug.log*

# Editors
.vscode/
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# nyc test coverage
.nyc_output

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache
